
// Converted Variables


// Custom Media Query Variables


/*
 * sircus-elements-img
 ================================================== */
img {
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
